.queue-page {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  height: 100%;
}

.queue-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(from var(--color-text) r g b / 0.2);
}

.queue-page-header-left {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.queue-page-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.queue-page-back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.queue-page-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .queue-page-list {
    width: 70%;
  }
}

.queue-page-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.queue-page-item-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  touch-action: none;
}

@media (hover: none) {
  .queue-page-item-handle {
    padding: 0;
    padding-right: 1rem;
  }
}
.queue-page-item-handle:active {
  cursor: grabbing;
}
.queue-page-item-handle-icon {
  opacity: .5;
}

.queue-page-item-content {
  flex: 1;
  min-width: 0;
}