.ai-component-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .ai-component-container:hover {
    background-color: rgb(from var(--color-text) r g b / 0.15);
  }
}
@media (hover: none) {
  .ai-component-container {
    padding: .5rem 0;
  }
}

.ai-component-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: .3rem;
  border-radius: 1.25rem;
  background-color: rgb(from var(--color-text) r g b / 0.15);
  opacity: .5;
}

.ai-component-text-container {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 2px;
}

.ai-component-title {
  font-size: 1rem;
}
.ai-component-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .7rem;
  font-size: .7rem;
}