.app-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px; /* App.tsx の header の高さ */
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(from var(--color-text) r g b / 0.2);
}

.app-header-title {
  display: flex;
  align-items: center;
  gap: .25rem;
}
.app-header-button-container {
  display: flex;
  gap: 1rem;
}
.app-header-button {
  width: 24px;
  height: 24px;
  background-color: var(--color-text);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
}
.app-header-button.search {
  mask-image: url('/images/App/search.svg');
}
.app-header-button.back {
  mask-image: url('/images/App/back.svg');
}

.app-content {
  flex: 1;
  min-height: 0;
}

.app-sidebar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  width: 100%;
  background-color: var(--color-bg-mild);
  border-top: 1px solid rgb(from var(--color-text) r g b / 0.3);
  z-index: 2; /* MiniPlayer より大きい */
}
.app-sidebar-item {
  padding: .5rem 0; /* 上下はいらん */
}

.app-sidebar-item-icon {
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.app-sidebar-item-label {
  display: block;
  text-align: center;
  font-size: .8rem;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}
.nav-active .app-sidebar-item-icon {
  color: var(--color-accent);
}
.nav-active .app-sidebar-item-label {
  color: var(--color-accent);
}