.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.app-content {
  flex: 1;
}

.app-sidebar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  background-color: var(--color-bg-mild);
}
.app-sidebar-item {
  padding: .5rem 0; /* 上下はいらん */
}

.app-sidebar-item-icon {
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.app-sidebar-item-label {
  display: block;
  text-align: center;
  font-size: .8rem;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}
.nav-active .app-sidebar-item-icon {
  color: var(--color-accent);
}
.nav-active .app-sidebar-item-label {
  color: var(--color-accent);
}