*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-weight: normal;
  font-family: var(--font);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style: none;
}
button, select {
  cursor: pointer;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  background-color: var(--color-bg);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    width: 70%;
  }
}

.fade-in {
  animation: FadeIn .3s;
  animation-fill-mode: both;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: FadeOut .3s;
  animation-fill-mode: both;
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}